/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*Element styling*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}

#homepage {
    border-radius: 20%;
}

   
/*Fonts*/

.title-font {
    font-family: 'Indie Flower', cursive;
}

.standard-font {
    font-family: 'Indie Flower', cursive;
}


/*Height for Parallax Container*/
.parallax-container {
    height: 400px;
    margin-top: 10px;
    }
 
/*Height for Carousel*/    
.carousel {
    height: 360px;
}