{% extends 'base.html' %} {% block content%}


<!--Thank you page:-->
<!--Users are sent to this page after they submit a recipe.-->
<!--This gives users assured feedback that their recipe has been added.-->
<div class=" parallax-container">
    <div class="row">
        <h2 class="offset-s3 offset-m5 title-font blue-text text-blue" style="text-align: center;">Thank you for adding a recipe to our collection.</h2>
        <a href="{{url_for('index')}}" class="waves-effect waves-light btn blue lighten-3 title-font hoverable col s12 m4 offset-m4"><i class="material-icons">home</i>Return Home</a>
        <div class="parallax"><img src="https://img.freepik.com/foto-gratuito/bokchoy-carota-zuppa-di-pesce-palla-bacchette-e-bianco-vuoto-appunti-sul-tavolo_23-2148093547.jpg?size=626&ext=jpg"></div>
    </div>
    <!--<div class="parallax"><img src="https://img.freepik.com/foto-gratuito/bokchoy-carota-zuppa-di-pesce-palla-bacchette-e-bianco-vuoto-appunti-sul-tavolo_23-2148093547.jpg?size=626&ext=jpg"></div>-->
</div>

<!-- <div class="container">
        <div class="row col s12 m12 l6" id="thankspage" >
            <h2 class="center-align title-font center blue-text text-lighten-3">Thank you for adding a recipe to our collection.</h2>
    
            <a href="{{url_for('index')}}" class="waves-effect waves-light btn blue lighten-3 title-font hoverable col s12 m4 offset-m4"><i class="material-icons">home</i>Return Home</a>
        </div>

</div> -->



{% endblock %}